.find-facebook {
  background-image: url("https://i.ibb.co/9WhVfPp/387455736-3563204603949908-8451494044302375166-n.jpg");
  background-size: cover;
  height: 100vh;
 
}
.find-instagram {
  background-image: url("https://i.ibb.co/SxgC54d/387578299-638413625103983-2794708675209469307-n-1.jpg");
  background-size: cover;
  height: 100vh;
 
}

.review {
  background-image: url("https://i.ibb.co/4Jn43Jt/5a27d4fff914c35a018b82b2.webp");
  background-size: cover;
  height: 100vh;
}

.service {
  background-image: url("https://i.ibb.co/2vdnRQP/appleproductlineup.jpg");
  background-size: cover;
  height: 100vh;
  
}