.find-facebook{
    background-image: url("https://i.ibb.co/9WhVfPp/387455736-3563204603949908-8451494044302375166-n.jpg");
    background-size: cover;
  height: 100vh;
  }
.review{
    background-image: url("https://i.ibb.co/MVYbfbz/i-phone-15-lineup.jpg");
    background-size: cover;
  height: 100vh;
}
.service{
  background-image: url("https://i.ibb.co/2vdnRQP/appleproductlineup.jpg");
  background-size: cover;
  height: 100vh;
}  